#/home/master/mysql/my.cnf

[mysqld]
# MySQL 서버의 기본 설정
user            = mysql
bind-address    = 0.0.0.0
port            = 3306
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
symbolic-links=0
default-storage-engine = innodb
sql_mode        = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
default_authentication_plugin = mysql_native_password
allowPublicKeyRetrieval=true
