# /etc/mysql/mysql.conf.d/mysqld.cnf

[mysqld]
# MySQL 서버 설정
user            = mysql
bind-address    = 0.0.0.0      # 외부에서 접근할 수 있도록 설정
port            = 3306         # MySQL 기본 포트
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
symbolic-links=0
default-storage-engine = innodb
sql_mode        = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
default_authentication_plugin = mysql_native_password
mysql_native_password=ON
# 로그 설정 (옵션)
log-error       = /var/log/mysql/error.log

